@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  overflow-y: scroll;        
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
}

.custom-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

/* Card Hover Effects */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
